<div class="application container-fluid order-page">
  <div class="pagetitle">
    {{pagetitle}}
  </div>
  <div class="searchContainer">
    <input class="searchField" type="text" value="" /><i class="material-icons md-24">search</i>
  </div>
  <button type="button" class="btn btn-default btn-lg btn-block disabled order">Order</button>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <td class="name">Name</td>
        <td class="number">Number</td>
        <td class="units">Units</td>
        <td class="del">Delete?</td>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>